<!--
  ~ ////////////////////////////////////////////////////////////////////////////////////////////////////
  ~ ////////////////////////////////////////////////////////////////////////////////////////////////////
  ~ ////////File Name: AndroidManifest.xml                                        ////////
  ~ ////////Class Name: AndroidManifest.xml                                  ////////
  ~ ////////Project Name: $file.projectName                           ////////
  ~ ////////Copyright update: 10/17/19 2:53 PM                                       ////////
  ~ ////////Author: yazan                                                   ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////                                                                                    ////////
  ~ ////////////////////////////////////////////////////////////////////////////////////////////////////
  ~ ////////////////////////////////////////////////////////////////////////////////////////////////////
  -->

<manifest package="com.limitless.aboutpage" />
